* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}


h1 {
    text-align: center;
    font-weight: 700;
    font-size: 68px;
    margin-top: 100px;
}

.ukraine_logo {
    width: 45px;
    margin-left: 10px;
}

.my_img {
    display: block;
    position: relative;
    max-width: 80%;
    margin: auto;
}

.my-text {
    width: 50%;
    font-size: 16px;
   
}

p {
    font-weight: 500;
    font-style: italic;
}

ul {
    margin: 0;
    padding: 0;
}

.underline {
    text-decoration: underline;
}

li {
    list-style-type: none;
    line-height: 35px;
}

.social_media_icon {
    font-size: 35px;
    color: #338AF2; 
}

@media (max-width: 1200px) {
    .my-text {
        width: 80%;
        text-align: center;
        margin: 0 auto;
    } 

    p {margin-top: 50px;}

    .my_img {
        width: 80%;
    }
}

@media (max-width: 1200px) {
    .my-text {
        width: 80%;
        text-align: center;
        margin: 0 auto;
    } 

    h1 {
        font-size: 58px;
    }

    p {margin-top: 50px;}

    .my_img {
        width: 70%;
    }
}

@media (max-width: 880px) {
    .my-text {
        width: 80%;
        text-align: center;
        margin: 0 auto;
    } 

    h1 {
        font-size: 50px;
    }

    p {margin-top: 50px;}

    .my_img {
        width: 80%;
    }
}

@media (max-width: 700px) {
    .my-text {
        width: 80%;
        text-align: center;
    } 

    h1 {
        font-size: 46px;
        text-align: center;
    }

    p {margin-top: 50px;}

    .my_img {
        width: 80%;
    }
}

@media (max-width: 580px) {
    .my-text {
        width: 70%;
        text-align: center;
    } 

    h1 {
        font-size: 38px;
        text-align: center;
    }

    p {margin-top: 50px;}

    .my_img {
        width: 70%;
    }
}