* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin-bottom: 20px;
}


h1 {
    text-align: center;
    font-weight: 700;
    font-size: 68px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.ukraine_logo {
    width: 45px;
    margin-left: 10px;
}

.btn {
    display: block;
    margin: 100px auto;
    font-weight: 500;
}

.button-link {
    text-decoration: none;
    color: #fff;
}

.button-link:hover {
    color: #fff;
    
}

.image {
    background-color: rgb(143, 201, 240, 65%);
    
}

.social_media_icon {
    font-size: 35px;
    color: #338AF2; 
}

.central-block-hidden {
    display: none;
}

@media (max-width: 991px) {
    .central-block {
        display: none;
    }

    .central-block-hidden {
        display: block;
    }
}